---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

// const posts = (await getCollection("blog")).sort(
//   (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
// );

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.order - a.data.order,
);

// const last_posts = posts.slice(0, 3);

const latest_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <span class="text-xl py-1">Hey there 👋</span>
    <h2 class="text-5xl font-bold">I'm Sawan Kumar</h2>
    <h3 class="text-3xl py-3 font-bold">Lead Software Engineer | Frontend</h3>
    <div class="py-2">
      <text class="text-lg">
        I'm a Lead Software Engineer with over 9+ years of experience building
        scalable web solutions using modern technologies like React, NextJs, and
        TypeScript. Currently leading a team at <b>Pocket FM</b>, I specialize
        in creating reusable, high-performance UIs and delivering quality
        software across multiple platforms.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href='https://www.linkedin.com/in/sawannirala/"'
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="https://drive.google.com/file/d/1DFhr0BsMWjbSwd9nYP1eB_ZGQCcunikG/view?usp=sharing"
        target="_blank"
        class="btn btn-outline ml-5"
        download=""
      >
        Hire Me!!!
      </a>
    </div>
  </div>

  <div>
    <div class="mb-2 flex items-center justify-between gap-2">
    <h3 class="text-3xl w-full font-bold ">Latest Projects {"</>"}</h3>
    <a class="btn btn-outline btn-sm" id="projects" href="/projects">View All</a>
    </div>
    <ul>
      {
        latest_projects.map((post, idx) => (
          <li>
            <HorizontalCard
              title={post.data.title}
              img={post.data.heroImage}
              desc={post.data.description}
              url={"/projects/" + createSlug(post.data.title, post.slug)}
              target="_self"
              badge={post.data.badge}
            />
            {idx === latest_projects.length - 1 ? null : <div class="divider my-0" />}
          </li>
        ))
      }
    </ul>
    <div class="mt-8 text-center">
      <a class="btn btn-outline btn-lg" id="projects" href="/projects">View All</a>
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
